datasets/
frames/
images/
__pycache__/
notebooks/
saved_models/
something/
test_vids/
vids/
*.json
model_best.pth
output*
*.npz
*.ipynb
*.html
fri/
images_july/
images_temp/
*.avi
*.zip
*.mp4
*.rar
*.log
04_11/
04_12/
04_13/
04_11*
04_12*
04_13*
mdp_ims
store*/
ims/
new_ims/
s3_27thjuly/
.*/
*.yaml
*.csv
contributors
2/
2020_09_08_part2/
PMI_S3_15-09-2020-2/
new_stuff/
plot_15sep_1/
s22020_09_08_14_27_19_721513.png
s2_09_09_2020-2/
s2_09_10_2020-2/
temp_store3/