datasets/
frames/
images/
__pycache__/
notebooks/
saved_models/
something/
test_vids/
vids/
*.json
model_best.pth
output*
*.npz
*.ipynb
*.html
fri/
images_july/
images_temp/
*.avi
*.zip
*.mp4
*.rar
*.log
04_11/
04_12/
04_13/
04_11*
04_12*
04_13*